<div class="flex">
  <div>
    <ng-container *ngFor="let floor of floors">
      <app-floor [floorNumber]="floor">
        <div class="relative">
          <div class="absolute top-0 right-0">
            <app-lift-controllers (down)="requestFloor(floor)" (up)="requestFloor(floor)"></app-lift-controllers>
          </div>
        </div>
      </app-floor>
    </ng-container>
  </div>


  <app-lift>
    <app-lift-status [status]="currentStatus$ | async"></app-lift-status>
    <app-door-controllers (open)="openDoors()" (close)="closeDoors()"></app-door-controllers>
    <app-lift-numbers [floors]="floors" (selectFloor)="requestFloor($event)"></app-lift-numbers>
  </app-lift>
</div>

