<div class="flex flex-col">
  <button
    class="max-w-fit shrink bg-indigo-500 text-white text-sm font-semibold rounded-full shadow focus:outline-none"
    (click)="up.emit()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 11l3-3m0 0l3 3m-3-3v8m0-13a9 9 0 110 18 9 9 0 010-18z"
      />
    </svg>
  </button>
  <button
    class="max-w-fit bg-indigo-500 text-white text-sm font-semibold rounded-full shadow focus:outline-none"
    (click)="down.emit()"
  >
    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z"
      />
    </svg>
  </button>
</div>
